## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets

# IDE
.idea/
*.swp
*~
.vscode/

# OS
.DS_Store
Thumbs.db
